# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/

# Project-specific ignores
music-backend/results/
music-backend/model_cache/
music-backend/uploads/
*.wav
